html {
    background-color: #ffff;
}
h1 {
    font-weight: 800;
}
* {
    font-family: "inter", sans-serif;
    color: #31304D;
    text-align: center;
}
p {
    color: #6b7280;
    font-weight: 300;
}
img {
    width: 20px;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
    
  }
  div {
    padding: 64 64 64 64;
  }
