html {
    background-color: #ffff;
}
h1 {
    font-weight: 800;
}
* {
    font-family: "inter", sans-serif;
    color: #31304D;
    text-align:left
}
p {
    color: #6b7280;
    font-weight: 300;
}
img {
    width: 20px;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
    
  }
  #overall {
    padding:20px
  }
  
  div {
    padding: 20px;
    border: 10px solid antiquewhite;
  }
  #first {
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid antiquewhite;
  }

  #second {
    background-color: gold;
    border: solid antiquewhite;
    border-width: 10px 10px;
    
  }

  #third {
    background-color: indianred;
    border: 10px solid antiquewhite;
    
  }
